#board {
  width: 500px;
  margin: 0 auto;
  border: 3px dotted black;
}

#message {
  padding: 15px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: gainsboro;
}

#boxes {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  box-sizing: border-box;
}

.box {
  width: 33.33%;
  height: 33.33%;

  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;

  font-size: 60px;
  font-family: fantasy;
}

.box:nth-child(-n + 6) {
  border-bottom: 6px solid black;
}
.box:nth-child(3n + 1),
.box:nth-child(3n + 2) {
  border-right: 6px solid black;
}
